@page "/counter"
@using AntDesign
@inject IMessageService _message

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<Space>
    <SpaceItem>
        <Button Type="default" OnClick="Success">
            Success
        </Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="default" OnClick="Error">
            Error
        </Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="default" OnClick="Warning">
            Warning
        </Button>
    </SpaceItem>
</Space>

@* [코드 수정중] 테스트 진행중 *@
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    // pop up message box test code
    private async Task Success()
    {
        await _message.Success("This is a success message", 8);
    }

    private async Task Error()
    {
        await _message.Error("This is an error message");

    }

    private async Task Warning()
    {
        await _message.Warning("This is a warning message");
    }
}