@page "/"
@using AntDesign
@inject MessageService _message
@inject CustomAuthenticationStateProvider CustomAuthProvider
@inject NavigationManager Navigation
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject OmokClient.Services.AuthService AuthService
@inject OmokClient.Services.PlayerService CharacterService


<Layout Class="layout">
    <Header>
        
    </Header>
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content">Content</div>
    </Content>
    <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>

@code {

}
<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        width: 120px;
        height: 280px;
        min-height: 280px;
    }

    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>