@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.SessionStorage
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISessionStorageService sessionStorage

<div class="page">
    <header class="top-row px-4">
        @if (!string.IsNullOrEmpty(sessionStorageId))
        {
            <span class="user-email">Welcome, @sessionStorageId!</span>
        }
    </header>
    <main>
        @*
        <div class="top-row px-4">
        @* @if (isAuthenticated)
        {
        <span class="ml-auto navbar-text">Welcome, @username!</span>
        } *@
        @* @if (!string.IsNullOrEmpty(sessionStorageId))
            {
                @if (!string.IsNullOrEmpty(sessionStorageId))
                {
                    <span class="user-email">@sessionStorageId</span>
                }
            }
        </div>*@
        

        <article class="content px-4">
            @Body
        </article>

    </main>

    <footer class="bottomappbar">
        <div class="bottom-navbar">
            <button class="nav-button">우편함</button>
            <button class="nav-button">아이템</button>
            <button class="nav-button">출석부</button>
            <button class="nav-button">상점</button>
        </div>
    </footer>
</div>

@code {
    private bool isAuthenticated = false;
    private string username = string.Empty;
    private string sessionStorageId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        sessionStorageId = await sessionStorage.GetItemAsync<string>("sessionUserId") ?? string.Empty;
        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // isAuthenticated = authState.User.Identity.IsAuthenticated;
        // if (isAuthenticated)
        // {
        //     username = authState.User.Identity.Name;
        // }
    }
}

<style>
    top-row px-4 {
        background-color: #333;
    }
</style>